<app-header></app-header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
      <a class="navbar-brand" routerLink="/dashboard">My Profile</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills">
          <li class="nav-item ml-3 mr-3">
            <a class="nav-link" routerLink="/dashboard/medicalrecord">Medical Record</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" routerLink="/dashboard/familydoctor">Family Doctor</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" routerLink="/dashboard/emergency">Emergency Information</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" routerLink="/dashboard/organdonation">Organ Donation</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link active" routerLink="/dashboard/aboutus">About Us</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" routerLink="/dashboard/contactus">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </nav>

  <div class="container">
      <div class="text-center">
        <img src="/assets/img/logo.svg" alt="mind" height="250" class="aboutlogo">
      </div>
      <div class="row">
        <div class="col">
          <p>Today, suppose what happens when we are on a trip and unluckily met with an accident.
             At that time what if in case we need our previous medical reports, previous medical 
             prescriptions, lab reports etc. At that time obviously as we are on trip we doesn’t 
             have our previous medical reports, prescriptions, lab reports etc. with us. </p>
        </div>
        <div class="col">
          <p>
            This is the problem we are facing, I had taken an example of trip, 
            but anything can happen we don’t know and at that time it will be easy 
            for doctor to take any judgement if our all past records are there with 
            us stored online . So our project mainly focus to store medical details 
            of patient and that will be easy for both doctors and patients.
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div>
            <p>
              Health Wallet is an app/website, which is used to record every patient’s medical 
              history in terms of reports, prescription, results etc. Unique ID and Password is 
              created for every patient.
              A Health Card is also provided to every patient which contains some basic details 
              of patient like Blood Group, his/her Allergies, heart problems etc.
            </p>
          </div>
        </div>
      </div>
  </div>