.FillBack{
	background-color: #f8f8f8;
}
.form-control {
	height: 41px;
	background: #f2f2f2;
	box-shadow: none !important;
	border: none;
}

.form-control:focus {
	background: #e2e2e2;
}
.form-control, .btn {        
    border-radius: 3px;
}
.login-form {
	width: 500px;
	height: 720px;
	margin: 0px auto;
	padding-top: 10rem;
}
.login-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 0px 2px  rgba(0, 0, 0, 0.3);
	padding: 30px;
}
 label{
     color: #333;
     font-weight: bold;
 }
 .login-form h2  {
	color: #333;
	font-weight: bold;
	margin-top: 0;
	text-align: center;
	padding-bottom: 1rem;

}
.login-form hr{
	margin: 0 -30px 20px;
}

.login-form .form-group {
	margin-bottom: 20px;
}
.login-form .btn {        
	padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: 0.5s;
    font-weight: 600;
    border-radius: 6px;
    background-color: #3598dc;
	border: 2px solid #3598dc;
	min-width: 340px;
}
.login-form .btn:hover{
    color: #3598dc;
    background: transparent;
    border-color: #3598dc;
}

.login-form a {
	color: #3b7592;
	text-decoration: underline;
}
.login-form a:hover {
	text-decoration: none;
}
.login-form form a {
	color: #3598dc;
	text-decoration: none;
}	
.login-form form a:hover {
	text-decoration: underline;
}
.login-form .hint-text{
	padding-bottom: 15px;
	text-align: center;
}
.login-form .small {
	font-size: 16px;
}
.login-form a {
	color: #3598dc;
}