 <div class="container applycss">
        <br><br>
        <br>
    <div class="row mt-5">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <img src="/assets/img/file.svg" alt="svgimage" width="90%">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-5 pt-5 text-center">
            <h1>Health Wallet</h1>
            <p>Health Wallet is an app/website, which is 
                used to record every patient’s medical history 
                in terms of reports, prescription, results etc. 
            </p>
            <div>
                <button class="btn btn-primary" routerLink='/login'>
                    Sign In
                </button>
                <button class="btn btn-info" routerLink='/signup'>
                    Sign Up
                </button>
            </div>
        </div>
    </div>
</div>
