
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

/* font-family: nunito , sans-serif */

.applycss h1{
    font-weight: bold;
    font-size: 60px;
    line-height: 63px;
    letter-spacing: 1px;
    font-family: "nunito", sans-serif;
}

.applycss p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 30px;
    font-family: "nunito", sans-serif;
}

.applycss .btn-primary{
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: 0.5s;
    font-weight: 600;
    border-radius: 6px;
    background-color: #2f55d4;
    border: 2px solid #2f55d4;
}

.applycss .btn-primary:hover{
    color: #2f55d4;
    background: transparent;
    border-color: #2f55d4;
}

.applycss .btn-info{
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: 0.5s;
    font-weight: 600;
    border-radius: 6px;
    background-color: #138496;
    border: 2px solid #138496;
}

.applycss .btn{
    margin-left: 5px;
}

.applycss .btn-info:hover{
    color: #138496;
    background: transparent;
    border-color: #138496;
}